<?xml version="1.0" encoding="utf-8"?><!--
~~~~~~~~~~~~~~~~~~~~~~
  ~ Copyright (c) 2016. This creation of Vidit Kothari (c) cannot be reproduced or modified or resell without prior written consent
  ~~~~~~~~~~~~~~~~~~~~~
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.co.viditkothari.musicalstructureapp">

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".Information" android:label="@string/labelInformationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".HomeActivity" android:label="@string/labelHomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <data android:scheme="index.html" android:host="viditkothari.co.in" />
            </intent-filter>
        </activity>

        <activity android:name=".Player" android:label="@string/labelPlayerActivity" />

        <activity android:name=".Configuration" android:label="@string/labelConfigurationActivity" />

    </application>

</manifest>